{% set local_ip = inventory_hostname %}
[Unit]
Description=Etcd Server
After=network.target
After=network-online.target
Wants=network-online.target
Documentation=https://github.com/coreos

[Service]
Type=notify
WorkingDirectory={{ etcd_work_dir }}
ExecStart={{ etcd_work_dir }}/bin/etcd \
--name={{ etcd_name }} \
--cert-file=/etc/etcd/ssl/etcd.pem \
--key-file=/etc/etcd/ssl/etcd-key.pem \
--peer-cert-file=/etc/etcd/ssl/etcd.pem \
--peer-key-file=/etc/etcd/ssl/etcd-key.pem \
--trusted-ca-file=/etc/etcd/ssl/ca.pem \
--peer-trusted-ca-file=/etc/etcd/ssl/ca.pem \
--data-dir=/var/lib/etcd/default.etcd \
--listen-peer-urls=https://{{ local_ip }}:2380 \
--listen-client-urls=https://{{ local_ip }}:2379,http://127.0.0.1:2379 \
--advertise-client-urls=https://{{ local_ip }}:2379 \
--initial-advertise-peer-urls=https://{{ local_ip }}:2380 \
--initial-cluster={% for host in groups['etcd'] %}{{ hostvars[host].etcd_name }}=https://{{ hostvars[host].inventory_hostname }}:2380{% if not loop.last %},{% endif %}{% endfor %} \
--initial-cluster-token=etcd-cluster \
--initial-cluster-state=new \
--snapshot-count=50000 \
--auto-compaction-retention=1 \
--max-request-bytes=10485760 \
--quota-backend-bytes=8589934592
Restart=always
RestartSec=15
LimitNOFILE=65536
OOMScoreAdjust=-999

[Install]
WantedBy=multi-user.target
